*, *:before, *:after {
  padding: 0;
  margin: 0;
}

body {
  /*background-image: linear-gradient(to right, black 49%, transparent 50%);*/
}

.gradient {
  background-image: linear-gradient(to right, black, transparent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 20vw;
  margin: 0 auto;
}

.gradient--easing {
  background-image: ease-in-out-sine-gradient(to right, black, transparent);
  width: 30vw;
}
